// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #313030;
$light-gray: #f4f4f4;

// custom colors
$red-food: #ff4848;
$red-food-dark: #da0404;
$yellow-food: #ffd371;
$yellow-food-dark: #f3c96b;
$green-food: #c2ffd9;
$green-food-inbetween-saturated: #9cffc2;
$green-food-saturated: #78f8a9;
$green-food-dark: #9ddac6;
$vegan-color: #0fa378;
