// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom colors
$red-food: #FF4848;
$red-food-darker: #DA0404;
$yellow-food: #FFD371;
$yellow-food-dark: #F3C96B;
$green-food: #C2FFD9;
$green-food-dark: #9DDAC6;
