// Specific CSS for your home-page
.cards-container-landing {
  width: 100%;
  margin: auto;
  display: block;
}

.cards-container-landing h2 {
  display: block;
  font-size: 35px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.cards-landing {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 400px 400px;
  flex-grow: 1;
  grid-gap: 20px;
}

#container-how-landing {
  padding-top: 25px;
}

#container-how-landing h2 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cards-landing h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.cards-landing p {
  margin-top: 0;
  margin-bottom: 0;
}

#container-who-landing {
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 440px 440px;
  flex-grow: 1;
  grid-gap: 10px;
}

#container-text-landing h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.container-image-landing {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  height: 300px;
}

.image-who {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#container-reviews-landing {
  padding-top: 25px;
  padding-bottom: 25px;
}

#container-reviews-landing h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cards-review {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  flex-grow: 1;
}

.card-review {
  width: 300px;
  height: 230px;
  margin-top: 25px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.meal-delivered {
  color : $red-food-dark;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 11px;
  font-size: 15px;
}

.image-background {
  width: 100%;
  height: 65%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.full-review {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-top: 0px;
}

.text-review {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 12px;
  margin-right: 30px;
}

.review-title {
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  font-size: 18px;
}

.review-content {
  margin-left: 2px;
  font-size: 12px;
}

.user-name {
  margin-top: 17px;
  margin-bottom: 5px;
  margin-right: 2px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.profile {
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 113px;
  left: 243px;
}

.user-rating {
  display: flex;
  flex-direction: column;
}

.rating {
  font-size: 10px;
}
