<div class="footer">
  <div class="footer-inline-info">
    <div class="footer-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "Logofoodini3.png", alt: "Foodini logo", class: "image_logo" %>
        <h4>Foodini</h4>
      <% end %>
    </div>
    <div class="footer-infos">
      <div class="footer-texts">
        <a href="#"><p>About Foodini</p></a>
        <a href="#"><p>Terms of Use</p></a>
        <a href="#"><p>Privacy Policy</p></a>
      </div>
      <div class="footer-links">
        <a href="#"><i class= "fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
        <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
