<div class="nested-fields">
  <%= f.input :cuisine_area, as: :check_boxes,
  required: false,
  collection: @cuisine_options, include_hidden: false %>
  <%= f.input :food_type, as: :check_boxes,
  required: false,
  collection: @food_types_options, include_hidden: false %>
</div>
