<div class="nested-fields" data-category-area="<%= @cuisine_area_to_categories.to_json %>">
  <div id="category_areas_input">
    <%= f.input :cuisine_area, as: :check_boxes,
    required: false,
    collection: @cuisine_options, include_hidden: false %>
  </div>
  <div id="avaiable_food_type">
    <%= f.input :food_type, as: :check_boxes,
    required: false,
    collection: @food_types_options, include_hidden: false %>
  </div>
</div>
