<div class="timing-my-orders col-12 col-sm-5">
  <% if @order.option_category == 'I am feeling lucky' %>
  <div class="lucky-card-container">
    <div class="card-lucky-result">
      <div>

        <br>
        <p>Estimated delivery in <strong><%= @order.delivery_time %> minutes.</strong> Bon appétit!</p><%= link_to 'View my orders', orders_path, class: "btn btn-flat" %>
      </div>
    </div>
  </div>
  <% else %>
  <div>
    <div class="reject-accept-container">
      <%= link_to 'Reject and try again', order_path(@order), method: :patch, class: "btn btn-flat" %>
      <%= link_to 'Accept and go to payment', new_order_payment_path(@order), class: "btn btn-flat" %>
    </div>
  </div>
  <% end %>
</div>
