<div class="timing-my-orders col-12 col-sm-5">
  <% if @order.option_category == 'I am feeling lucky' %>
    <p>Estimated delivery in <strong><%= @order.delivery_time %> minutes.</strong> Bon appétit!</p>
    <div>
      <%= link_to 'View my orders', orders_path, class: "btn btn-flat" %>
    </div>
  <% else %>
    <div>
      <%= link_to 'Reject and try again', order_path(@order), method: :patch, class: "btn btn-flat" %>
      <%= link_to 'Accept and go to payment', new_order_payment_path(@order), class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
