<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554998171-89445e31c52b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2010&q=80);">
  <div class="container text-center">
    <h1> Order serendipitous meals from the best restaurants around </h1>
      <%= link_to 'Search', 'orders/new', class: "btn btn-flat mt-5" %>
  </div>
</div>

<div class="cards-container-landing">
  <h2 class="text-center">How it works</h2>
  <h2 class="text-center">Easy as that !</h2>
  <div class="cards-landing">
    <div class="card-big">
      <img src="https://us.123rf.com/450wm/gmast3r/gmast3r2105/gmast3r210500791/169544900-people-playing-monopoly-board-game-at-home-mix-race-friends-having-fun-leisure-activity-concept.jpg?ver=6" alt>
      <h4>Enter your location</h4>
      <p>Enter your street address or let us find your location.</p>
    </div>
    <div class="card-big">
      <img src="https://img.freepik.com/free-vector/kids-playing-board-game-floor_318844-312.jpg?size=626&ext=jpg" alt>
      <h4>Choose your max budget and max waiting time</h4>
      <p>Fill in a few criteria to make sure you get the most appropriate meal.</p>
    </div>
    <div class="card-big">
      <img src="https://www.spellenrijk.nl/resize/1200x790_13188762581834.jpg/0/1100/True/monopoly-friends-nederlandse-versie-3.jpg" alt>
      <h4>Play the game</h4>
      <p>It’s your call : Feeling lucky today? We decide the meal for you. Feeling cautious? Get the chance to try again and get a meal that suits you better.</p>
    </div>
    <div class="card-big">
      <img src="https://www.spellenrijk.nl/resize/1200x790_13188762581834.jpg/0/1100/True/monopoly-friends-nederlandse-versie-3.jpg" alt>
      <h4>Receive serendipitous meals from the best restaurants around</h4>
      <p>Pay and get your serendipitous meal delivered at your doorsteps. Bon appétit!</p>
    </div>
  </div>
</div>
