<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543352634-99a5d50ae78e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);">
  <div class="header-container text-center">
    <h1> Order serendipitous meals from the best restaurants around </h1>
      <%= link_to 'Search', 'orders/new', class: "btn btn-flat mt-5" %>
  </div>
</div>

<div class="cards-container-landing">
<br>
  <h2 class="text-center">How it works</h2>
  <h2 class="text-center">Easy as that !</h2>
  <div class="cards-landing">
    <div class="card-big">
      <img src="https://static.thenounproject.com/png/12638-200.png" alt>
      <h4>① Enter your location</h4>
      <p>Enter your street address or let us find your location.</p>
    </div>
    <div class="card-big">
      <img src="https://static.thenounproject.com/png/2850062-200.png" alt>
      <h4>② Choose your maximum budget and waiting time</h4>
      <p>Fill in a few criteria to make sure you get the most appropriate meal.</p>
    </div>
    <div class="card-big">
      <img src="https://static.thenounproject.com/png/1671260-200.png" alt>
      <h4>③ Play the game</h4>
      <p>It’s your call : Feeling lucky today? A random meal is chosen for you.</p><p> Feeling cautious? Get the chance to try again and get a meal that suits you better.</p>
    </div>
    <div class="card-big">
      <img src="https://static.thenounproject.com/png/1331980-200.png" alt>
      <h4>④ Receive serendipitous meals from the best restaurants around</h4>
      <p>Pay and get your serendipitous meal delivered at your doorsteps. Bon appétit!</p>
    </div>
  </div>
</div>
