.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-food;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $green-food;
  color: white;
}

div.btn-create-order {
  //   background: $secondary;
  color: #fff !important;
  //   border-color: #ff4848;
  //   font-weight: 400;
  //   padding: 0.5rem 1rem;
  //   font-size: 1.25rem;
  //   line-height: 1.5;
  //   border-radius: 2px;
}
