// styling to be used in forms on order/new
.cuisine-pick-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2vh;
}
//overwriting bootstrap checkboxes padding
.cuisine-pick-container .form-check {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
.card-header {
  padding: 0.15rem !important;
}

// // background styles
// .picture-pan {
//   background-image: url(https://www.pikpng.com/pngl/b/378-3788574_fry-pan-cooking-food-clipart.png);
//   background-size: auto 70%;

//   background-position:right 100%;
//   background-repeat: no-repeat;
//   // background-attachment: fixed;
// }

.pan-picture {
  position: absolute;
  top: 15vh;
  right: -9vw;
  z-index: 10;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.z10 {
  z-index: 10;
}
.z20 {
  z-index: 20;
}
.z30 {
  z-index: 30;
}

// styling cuisine pick
.cuisine-pick-form {
  position: absolute;
  transform: scale(0);
}

.cuisine-pick-form + label {
  cursor: pointer;
  color: black;
  text-align: center;
  font-size: 14px;
  min-width: 140px;
  padding: 12px 24px;
  margin: 0px 5px 5px 5px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 25px;
  border: solid 1px black;
  background-color: white;
  z-index: 20;
}

.cuisine-pick-form:hover + label {
  color: black;
  // background-color: $red-food;
  // border-color: $red-food;
  border: solid 1px $red-food;
}
.cuisine-pick-form:checked + label {
  color: black;
  font-size: 14px;
  border-radius: 25px;
  // border-style: solid;
  // background-color: $red-food;
  // border-color: $red-food;
  border: solid 3px $red-food;
}

#select_all + label {
  font-weight: 600;
}

#select_all:checked + label {
  border: solid 2px $red-food;
  background-color: $red-food;
}

.form-check {
  display: flex;
  justify-content: center;
}

.selecting_all {
  min-width: 180px;
  text-align: center;
}

.sellecting_field {
  width: 40%;
}

.sellecting_field label {
  color: black;
}

.no-padding-left {
  padding: 0px 5px !important;
}

// option settings
.option-container {
  display: inline-flex;
  justify-content: space-evenly;
}

.pick-option-radio {
  position: absolute;
  transform: scale(0);
}
.pick-option-radio + label {
  cursor: pointer;
  color: black;
  padding: 15px 24px;
  font-size: 15px;
  margin: 5px;
  border-radius: 25px;
  // border-style: double;
  background-color: white;
  border: solid 1px black;
  // border-color: $yellow-food-dark;
  z-index: 20;
}
.pick-option-radio:hover + label {
  color: white;
  background-color: $red-food;
  border-color: $red-food-dark;
}
.pick-option-radio:checked + label {
  color: white;
  border-radius: 25px;
  border-style: double;
  background-color: $red-food;
  border-color: $red-food-dark;
}

.order-details h1 {
  position: relative;
  // margin-bottom: 40px;
  // padding-top: 40px;
}

.order-details h1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 282px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(120, 248, 169, 0.61);
  z-index: 0;
}

.personal-details {
  position: relative;
}
.personal-details h1 {
  position: relative;
  // margin-bottom: 40px;
  // padding-top: 40px;
}

.personal-details h1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 280px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(120, 248, 169, 0.61);
  z-index: 0;
}

.delivery-image {
  height: 200px;
  position: absolute;
  left: -154px;
  top: 292px;
}
