.main-header {
  background-size: cover;
  background-position: 50%;
  height: 50vh;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -9px;
}

.main-header h1 {
  margin-top: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 60px;
  font-weight: bold;
  // padding: 20px 0;
}

.main-header h2 {
  margin: 0px auto;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-weight: bold;
  // padding: 20px 0;
  white-space: nowrap;
  overflow: hidden;
  // animation: animated-text 3s steps(29,end) 1s 1 normal both,
  //            animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 1100px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: $red-food;
  }
  to {
    border-right-color: transparent;
  }
}

.title-header {
  // box-shadow: -50px -50px 0px -40px #ff4848, 50px 50px 0 -40px #ff4848;
  padding-bottom: 55px;
  padding-right: 15px;
  padding-left: 15px;
  letter-spacing: 0.025em;
}

.our-story {
  padding: 30px 0 8px;
  position: relative;
}

.our-story::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(255, 211, 113, 0.61);
  z-index: 0;
}

.arc {
  margin-top: -70px;
  z-index: 100;
  position: relative;
  height: 162px;
}

@media (orientation: portrait) {
  .main-header h2 {
    font-size: 13px;
  }
}

// #oval {
//   width: 200px;
//   height: 100px;
//   background: red;
//   border-radius: 100px / 50px;
// }

// #oval {
//       width: 200px;
//       height: 100px;
//       background: red;
//       border-radius: 100px / 50px;
//     }
