.navbar {
  justify-content: space-between;
  background-color: white !important;
  transition: 0.5s background-color ease;
  height: 90px;
}

.navbar-brand {
  padding: 1em;
  display: inline-flex;
  align-items: center;
}

.navbar-brand h4 {
  margin-left: 10px;
  color: $red-food;
}

.navbar-brand h4:hover {
color: $red-food-dark;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  display: flex;
  background-color: transparent !important;
}

.navbar .navbar-brand img {
  width: 60px;
}

.link-custom-color {
  color: $red-food;
  padding: 1em;
}

#login_links {
  display: inline-flex;
}

.nav-link {
  color: $red-food !important;
  font-weight: 500;
}

.nav-link:hover {
  color: $red-food-dark !important;
}

.image_logo {
  width: 50px;
  transition: all 0.5s ease-in-out 0s;
}

.image_logo:hover {
  cursor: default;
  transform: rotateY(180deg);
  transition: all 1s ease-in-out 0s;
}

.navbar-sections {
  display: inline-flex;
  align-items: center;
  text-align: right;
}

.navbar-sections a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  margin-left: 45px;
  margin-right: 45px;
  font-size: 18px;
  margin-bottom: 0px;
}

.navbar-sections a:hover {
  color: $red-food;
  text-decoration: none;
}

.navbar-sections p {
  margin-bottom: 0px;
}
